#ignore the following files 
themes/ele/templates/*.html
themes/ele/templates/alex
themes/ele/templates/*.swap
.DS_Store
sites/default/services.yml
sites/default/settings.php
sites/default/files/*
sites/development.services.yml
sites/default/settings.local.php
