	<!-- Begin Footer -->
	<footer>
		<div class="container">
			<div class="row">

				<!-- Contact List -->
				<ul class="contact-list col-md-8">
					<li><i class="fa fa-envelope-o"></i><a href="mailto:{{ site_footer_email }}">{{ site_footer_email }}</a></li>
					<li><i class="fa fa-phone"></i><a href="#">{{ site_footer_phone }}</a></li>
					<li><i class="fa fa-map-marker"></i><a href="#">{{ site_footer_address }}</a></li>
				</ul><!-- END -->

				<!-- Social List -->
				<ul class="social-list col-md-4">
					<li><a href="https://bitbucket.org/eledane/" target="_blank"><i class="fa fa-bitbucket"></i></a></li>
					<li><a href="https://github.com/eledane/" target="_blank"><i class="fa fa-github"></i></a></li>
					<li><a href="#"><i class="fa fa-weixin"></i></a></li>
					<li class="copyright">© 2017 . Elyzium</li>
				</ul><!-- END -->

			</div>
		</div>
	</footer>
	<!-- End Footer -->

