	<!-- Begin Footer -->
	<footer>
		<div class="container">
			<div class="row">

				<!-- Contact List -->
				<ul class="contact-list col-md-8">
					<li><i class="fa fa-envelope-o"></i><a href="mailto:hello@form.com">hello@form.com</a></li>
					<li><i class="fa fa-phone"></i><a href="#">+ 714-555-1212</a></li>
					<li><i class="fa fa-map-marker"></i><a href="#">1000 Coney Island Ave. NY 11230</a></li>
				</ul><!-- END -->

				<!-- Social List -->
				<ul class="social-list col-md-4">
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					<li class="copyright">© 2014 Form, LLC</li>
				</ul><!-- END -->

			</div>
		</div>
	</footer>
	<!-- End Footer -->

