	<!-- Begin Navigation -->
<nav class="mobile">

		<!-- Search -->
		<div class="search-trigger"></div>
		<div class="search-form disabled">
			<form action="404.html">
				<input name="search" id="search" type="text" class="search" onFocus="if(this.value == 'Search...') { this.value = ''; }" onBlur="if(this.value == '') { this.value = 'Search...'; }" value="Search..." />
			</form>
		</div><!-- END -->

		<!-- Menu -->
		<ul class="nav-content clearfix">
			<li id="magic-line"></li>
			<li class="drop first upper">
				<a class="drop-btn" href="#">Home</a>
				<ul class="drop-list">
					<li><a href="index.html">Standard</a></li>
					<li><a href="home-alternative.html">Alternative</a></li>
					<li><a href="home-portfolio-galore.html">Portfolio Galore</a></li>
				</ul>
			</li>
			<li class="upper"><a href="about.html">About</a></li>
			<li class="current-page drop upper">
				<a class="drop-btn" href="#">Work</a>
				<ul class="drop-list">
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="portfolio-gallery.html">Gallery</a></li>
					<li><a href="single-project.html">Single Project</a></li>
				</ul>
			</li>
			<li class="upper"><a href="blog.html">Journal</a></li>
			<li class="upper"><a href="contact.html">Contact</a></li>
			<li class="upper"><a href="http://www.weidea.net">More theme</a></li>
		</ul><!-- END -->

	</nav>
	<header class="mobile">

		<!-- Logo -->
		<a href="{{ url('<front>') }}"><img class="logo" src="{{ base_path ~ directory }}/images/logo.png" alt="Form Logo" width="96" height="35" /></a>

		<!-- Menu Button -->
		<button type="button" class="nav-button">
		  <div class="button-bars"></div>
	    </button><!-- END -->

	</header>

	<div class="sticky-head"></div>
	<!-- End Navigation -->

