	<!-- Begin Navigation -->
<nav class="mobile">

		<!-- Search -->
		<div class="search-trigger"></div>
		<div class="search-form disabled">
			<form action="404.html">
				<input name="search" id="search" type="text" class="search" onFocus="if(this.value == 'Search...') { this.value = ''; }" onBlur="if(this.value == '') { this.value = 'Search...'; }" value="Search..." />
			</form>
		</div><!-- END -->

		<!-- Menu -->
    {{ page.header }}

	</nav>
	<header class="mobile">

		<!-- Logo -->
		<a href="{{ url('<front>') }}"><img class="logo" src="{{ base_path ~ directory }}/images/logo.png" alt="Form Logo" width="96" height="35" /></a>

		<!-- Menu Button -->
		<button type="button" class="nav-button">
		  <div class="button-bars"></div>
	    </button><!-- END -->

	</header>

	<div class="sticky-head"></div>
	<!-- End Navigation -->

